@media screen and (max-width: 768px) {
  .responsive {
    width: 90% !important;
  }
  .responsive2 {
    width: 98% !important;
  }
  .other {
    margin-top: 25px;
  }
  .responsive3 {
    width: 60% !important;
    padding: unset !important;
    margin-top: 15px !important;
    margin-left: unset !important;
  }
  .responsive4 {
    width: 90% !important;
    padding: unset !important;
    margin-left: unset !important;
  }
}
