/*#page {
  display: none;
}
#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.5);
  background-image: url("../Imagenes/Spinner-1.8s-177px.gif");
  background-repeat: no-repeat;
  background-position: center;
}
*/
.code_panel {
  width: 70%;
  height: auto;
  background-color: #282c34;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 1.5vw;
  overflow-x: auto;
  transition: 0.5s ease-in-out;
}
.act {
  width: 70%;
  height: auto;
  background-color: #f8faff;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 1.5vw;
  overflow-x: auto;
  transition: 0.5s ease-in-out;
}
