/**************  Responsive **************************************************/
@media screen and (max-width: 768px) {
  .sidenav2 {
    display: none;
  }
  .top-content ul {
    display: none;
  }

  .content,
  .h1-content,
  .main-content {
    width: 100%;
  }
  .content .h1-content h1 {
    font-size: 7vw !important;
    padding-top: 0 !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  #nav-icon2 {
    display: block;
    width: 30px;
    height: 10px;
    position: fixed;
    margin-top: 15px;
    margin-left: 85%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }

  /* ******************************************************* */

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 250px;
    background-color: steelblue;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    z-index: 2;
    display: block;
    transition: all 1s ease-in;
  }
  a .float:hover {
    display: block;
  }

  .action {
    display: block;
    position: fixed;
    width: 60px;
    min-height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);
    cursor: pointer;
    z-index: 3;
  }

  .icon-bar,
  #show {
    display: none !important;
  }

  footer {
    min-height: unset;
    padding-left: 15px !important;
    padding-right: 15px;
  }
  .social {
    margin-left: 30%;
  }

  .top-content .label {
    margin-left: 5px;
  }

  #brand {
    padding-top: 20px;
  }

  /********************** IDE Arduino ***********************/
  #instalación-de-drivers {
    margin-top: 4% !important;
  }
  .responsive1 {
    width: 98% !important;
  }
  .responsive2 {
    display: unset !important;
  }
  .responsive3 {
    width: 50% !important;
  }
  .responsive4 {
    width: 46% !important;
  }
  .flechaIDE {
    transform: rotate(90deg) !important;
    width: 10% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .padIMG {
    padding: 20px 0 !important;
  }
  .responsive5 {
    width: 45% !important;
    margin-inline-start: unset !important;
    padding-top: 0 !important;
  }
  .responsive6 {
    padding: 0 !important;
    width: 6% !important;
  }
  /**********************************************************/
  /***************************** IDE AVR Studio *******************************/
  .resp1 {
    width: 100% !important;
  }
  .resp2 {
    display: unset !important;
  }
  .iconAVR {
    width: 13.5% !important;
  }
  .fixP {
    padding-top: 0 !important;
  }
  .icon2AVR {
    width: 6% !important;
  }
  /****************************************************************************/
}

@media screen and (max-width: 1000px) {
  .container-fluid .bg-grey .py-5 {
    padding-right: 0;
  }
}
