/**************  Responsive **************************************************/
@media screen and (max-width: 500px) {
  .inDevice {
    display: block;
    height: 60px;
    width: 60px;
  }
  .fa-adjust {
    padding: 0 !important;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 35% !important;
  }
  .iconDark {
    padding: 0;
    font-size: 20px;
    margin-left: 155% !important;
    margin-top: 20px;
  }

  .sidenav2 {
    display: none;
  }
  .top-content ul {
    display: none;
  }

  .content,
  .h1-content,
  .main-content {
    width: 100%;
  }
  .content .h1-content h1 {
    font-size: 7vw !important;
    padding-top: 0 !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  #nav-icon2 {
    display: block;
    width: 30px;
    height: 10px;
    position: fixed;
    margin-top: 15px;
    margin-left: 85%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }

  /* ******************************************************* */

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 250px;
    background-color: steelblue;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    z-index: 2;
    display: block;
    transition: all 1s ease-in;
  }
  a .float:hover {
    display: block;
  }

  .action {
    display: block;
    position: fixed;
    width: 60px;
    min-height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);
    cursor: pointer;
    z-index: 3;
  }

  .icon-bar,
  #show {
    display: none !important;
  }

  footer {
    min-height: unset;
    padding-left: 15px !important;
    padding-right: 15px;
  }
  .social {
    margin-left: 30%;
  }

  .top-content .label {
    margin-left: 5px;
  }

  #brand {
    padding-top: 20px;
  }

  /********************** IDE Arduino ***********************/
  #instalación-de-drivers {
    margin-top: 4% !important;
  }
  .responsive1 {
    width: 98% !important;
  }
  .responsive2 {
    display: unset !important;
  }
  .responsive3 {
    width: 50% !important;
  }
  .responsive4 {
    width: 46% !important;
  }
  .flechaIDE {
    transform: rotate(90deg) !important;
    width: 10% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .padIMG {
    padding: 20px 0 !important;
  }
  .responsive5 {
    width: 45% !important;
    margin-inline-start: unset !important;
    padding-top: 0 !important;
  }
  .responsive6 {
    padding: 0 !important;
    width: 6% !important;
  }
  /**********************************************************/
  /***************************** IDE AVR Studio *******************************/
  .resp1 {
    width: 100% !important;
  }
  .resp2 {
    display: unset !important;
  }
  .iconAVR {
    width: 13.5% !important;
  }
  .fixP {
    padding-top: 0 !important;
  }
  .icon2AVR {
    width: 6% !important;
  }
  /****************************************************************************/
  /***************************** Programming Arduino with AVR Studio *******************************/
  .programFileAVRdudeexe {
    font-size: 80% !important;
  }
  .copyText {
    margin-left: 80% !important;
  }
  /***************************** Display 7Seg *******************************/
  .Display7seg {
    float: unset !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40% !important;
  }
  .displayTable {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
  }
  .resp80 {
    width: 80% !important;
  }
  .ptop {
    padding-top: 3vh;
  }
  .resp50 {
    width: 50% !important;
  }
  /*************************************************************************/
  table td,
  table th {
    padding: 12px 24px;
  }
  .table-responsive {
    width: 100% !important;
  }
  /*************************************************************************/
  #tipos-de-datos {
    font-size: 1.6rem !important;
  }
  .Equ {
    padding: 2% !important;
  }
  .Equ2 {
    padding: 1% !important;
  }
}
@media screen and (min-width: 500px) {
  #brand {
    margin-top: 10% !important;
  }
}
@media screen and (max-width: 1150px) and (min-width: 792px) and (max-height: 700px) {
  .inDevice {
    display: block;
    height: 60px;
    width: 60px;
  }
  .fa-adjust {
    padding: 0 !important;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 35% !important;
  }
  .iconDark {
    padding: 0;
    font-size: 20px;
    margin-left: 155% !important;
    margin-top: 20px;
  }
  .container-fluid .bg-grey .py-5 {
    padding-right: 0;
  }
  /******************************************************/
  .sidenav2 {
    display: none;
  }
  .top-content ul {
    display: none;
  }

  .content,
  .h1-content,
  .main-content {
    width: 100%;
  }
  .content .h1-content h1 {
    font-size: 5vw !important;
    padding-top: 0 !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  #nav-icon2 {
    display: block;
    width: 30px;
    height: 10px;
    position: fixed;
    margin-top: 15px;
    margin-left: 93%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  /******************************************************/
  .content .h1-content .Arduinotitle {
    font-size: 4vw !important;
  }
  /* ******************************************************* */

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 250px;
    background-color: steelblue;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    z-index: 2;
    display: block;
    transition: all 1s ease-in;
  }
  a .float:hover {
    display: block;
  }
  .action.active ul {
    bottom: -40% !important;
  }
  .action ul {
    height: 420% !important;
    right: 130% !important;
  }

  .action {
    display: block;
    position: fixed;
    width: 60px;
    min-height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);
    cursor: pointer;
    z-index: 3;
  }
  /*******************************************************/
  .Equ,
  .Equ2 {
    padding: 1% !important;
  }

  /****************************************************************************/
  footer {
    padding: 0 2% !important;
  }

  .subTitle {
    padding-top: 1% !important;
  }
  .row {
    margin-right: unset !important;
    margin-left: unset !important;
  }

  .container {
    width: 100% !important;
  }

  footer .btn-footer {
    padding: 7px 7px !important;
  }
  .logo-footer {
    display: block !important;
    margin: 10px auto !important;
    width: 20% !important;
  }
  .w-50 {
    width: 60% !important;
  }
  .col-md-6 {
    padding-left: unset !important;
    padding-right: unset !important;
    margin-left: -3% !important;
  }

  .logo-part {
    height: auto !important;
  }
  .form-footer {
    width: 100%;
  }
  .respRow {
    width: 140% !important;
  }
  .respRow2 {
    width: 118% !important;
  }
  .container .logo-part p {
    padding-bottom: 0 !important;
  }
  .container .px-4 {
    padding-left: 3.5rem !important;
  }
}

@media screen and (max-width: 1150px) and (min-width: 792px) and (min-height: 700px) {
  .inDevice {
    display: block;
    height: 60px;
    width: 60px;
  }
  .fa-adjust {
    padding: 0 !important;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 35% !important;
  }
  .iconDark {
    padding: 0;
    font-size: 20px;
    margin-left: 155% !important;
    margin-top: 20px;
  }
  .container-fluid .bg-grey .py-5 {
    padding-right: 0;
  }
  /******************************************************/
  .sidenav2 {
    display: none;
  }
  .top-content ul {
    display: none;
  }

  .content,
  .h1-content,
  .main-content {
    width: 100%;
  }
  .content .h1-content h1 {
    font-size: 5vw !important;
    padding-top: 0 !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  #nav-icon2 {
    display: block;
    width: 30px;
    height: 10px;
    position: fixed;
    margin-top: 15px;
    margin-left: 93%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  /******************************************************/
  .content .h1-content .Arduinotitle {
    font-size: 4vw !important;
  }
  /* ******************************************************* */

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 250px;
    background-color: steelblue;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    z-index: 2;
    display: block;
    transition: all 1s ease-in;
  }
  a .float:hover {
    display: block;
  }
  .action.active ul {
    bottom: -40% !important;
  }
  .action ul {
    height: 420% !important;
    right: 130% !important;
  }

  .action {
    display: block;
    position: fixed;
    width: 60px;
    min-height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);
    cursor: pointer;
    z-index: 3;
  }
  /*******************************************************/
  .Equ,
  .Equ2 {
    padding: 1% !important;
  }

  /****************************************************************************/
  footer {
    padding: 0 2% !important;
  }

  .subTitle {
    padding-top: 1% !important;
  }
  .row {
    margin-right: unset !important;
    margin-left: unset !important;
  }

  .container {
    width: 100% !important;
  }

  footer .btn-footer {
    padding: 7px 7px !important;
  }
  .logo-footer {
    display: block !important;
    margin: 10px auto !important;
    width: 20% !important;
  }
  .w-50 {
    width: 60% !important;
  }
  .col-md-6 {
    padding-left: unset !important;
    padding-right: unset !important;
    margin-left: -3% !important;
  }

  .logo-part {
    height: auto !important;
  }
  .form-footer {
    width: 100%;
  }
  .respRow {
    width: 140% !important;
  }
  .respRow2 {
    width: 118% !important;
  }
  .container .logo-part p {
    padding-bottom: 0 !important;
  }
  .px-4 {
    padding-left: 3.5rem !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: unset !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: unset !important;
  }
}

@media screen and (max-width: 791px) and (min-width: 501px) {
  .inDevice {
    display: block;
    height: 60px;
    width: 60px;
  }
  .fa-adjust {
    padding: 0 !important;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 35% !important;
  }
  .iconDark {
    padding: 0;
    font-size: 20px;
    margin-left: 155% !important;
    margin-top: 20px;
  }
  .sidenav2 {
    display: none;
  }
  .top-content ul {
    display: none;
  }
  .top-content .label {
    margin-left: 2vw;
  }

  .content,
  .h1-content,
  .main-content {
    width: 100%;
  }
  .content .h1-content h1 {
    font-size: 5vw !important;
    padding-top: 0 !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  #nav-icon2 {
    display: block;
    width: 30px;
    height: 10px;
    position: fixed;
    margin-top: 15px;
    margin-left: 90%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 250px;
    background-color: steelblue;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
    z-index: 2;
    display: block;
    transition: all 1s ease-in;
  }
  a .float:hover {
    display: block;
  }

  .action {
    display: block;
    position: fixed;
    width: 60px;
    min-height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #555;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.685);
    cursor: pointer;
    z-index: 3;
  }
  .action ul {
    height: 420% !important;
    right: 130% !important;
  }

  .action.active ul {
    bottom: -40% !important;
  }

  .icon-bar,
  #show {
    display: none !important;
  }
  .respRow {
    width: 192% !important;
  }
  .respRow2 {
    display: none !important;
  }
  .row {
    flex-wrap: nowrap !important;
  }
  #button1 {
    padding-bottom: 7px;
    margin-left: 75% !important;
  }
}

@media screen and (min-width: 645px) and (max-width: 791px) {
  .container p {
    padding-bottom: 0 !important;
  }
  #TTO {
    padding: 0 0 !important;
  }
}
@media screen and (min-width: 1151px) {
  .respRow2 {
    width: 140% !important;
  }
  #show {
    display: none !important;
  }
  .respCol {
    margin-left: 25% !important;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1235px) {
  .respRow {
    width: 130% !important;
  }
  .displayTitle {
    font-size: 2.9em !important;
  }
}
@media screen and (max-width: 1350px) and (min-width: 500px) {
  .icon-bar {
    display: none !important;
  }
  .top-content .label {
    margin-left: 2.9vw !important;
  }
}
