/* ☰ Menú */
/*************************** Tipos de fuentes disponibles *********************/
/* font-family: 'Montserrat', sans-serif;
 * font-family: 'Roboto', sans-serif; */
/*****************************************************************************/

/******************* Posicionamiento de alguna imagen *************************/
/* .imagen {
position: relative;
}
.imagen img {
  width: 9.5%;
  width: 6.5vw;
  position: absolute;
  top: 1.2vw;
  left: 5%;
} */
/******************************************************************************/

body {
  margin: 0;
  background-color: rgba(222, 222, 222, 0.3);
}

/********************** Bar menu **********************************************/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(92, 146, 181) /*#2a58ae steelblue*/;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 0.5px solid steelblue;
}
/************************** Despliegue de los menus ***************************/
.collapsible {
  background-color: rgb(92, 146, 181) /*#2a58ae*/;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 200px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/********************** icon of arrow on the right of text menu ****************/
/* *************************************************************************** */
.icon::after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  float: right;
}
.icon-solid::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
.icon-arrow-down::after {
  content: "\f0d7";
}
.active:after {
  content: "\f0d8";
}
/* ************************************************************************** */

.collapsible:hover {
  background-color: #555 /*#1fafec*/;
}

.collapsible:hover::after {
  color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(92, 146, 181) /*#2a58ae*/;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #182a48; /* #88a3d0*/
}
.content a {
  text-decoration: none;
  color: black;
}
.content a:hover {
  color: white;
}
/********************************************************************************/

/********************** Etiqueta de Microprocesadores ***********************/
.sidenav .label {
  width: 150px;
  color: white;
  display: block;
  text-align: center;
  font-size: 15px;
  padding: 10px 0 10px 0;
  border-radius: 50px;
  background-color: rgba(83, 84, 138, 0.5);
  border: 1px solid white;
  margin-left: 15px;
  margin-bottom: 20px;
}
/********************************************************************************/

.profile-image img {
  width: 140px;
  margin-left: 2vw;
  padding: 8px 0 21px 0;
  display: block;
}

/******************** The navigation menu links *******************************/
.sidenav button {
  padding: 5px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black; /*#88a3d0*/
  display: block;
  font-family: "Roboto", sans-serif;
}

/******* When you mouse over the navigation links, change their color *********/
.sidenav button:hover {
  color: #f1f1f1;
  border-left: 3px solid white;
}

/***************************** Style page content *****************************/

/* ******************  General ***************************** */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px;
}
.main .proteus {
  padding-left: 10px;
} /* Titulo de encabezado */

.main h1 {
  padding: 20px 0px 20px 0px;
  margin: 0;
  font-size: 4vw;
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(41, 41, 69, 0.9);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main .sub-content .sub-menu a {
  text-decoration: none;
}

.main h2 {
  padding-top: 50px;
  margin: 0;
  text-align: left;
  font-size: 25px;
  color: #000;
  display: block;
  font-family: "Roboto", sans-serif;
}
.main .text {
  padding: 0px 0px 0px 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: "center";
}
/*************************************************************/

/* ***********  Instalacion de proteus 8.5 ***************** */
.paso-3,
.paso-4,
.paso-5,
.paso-6,
.paso-9,
.paso-10,
.paso-11,
.paso-12,
.paso-13,
.paso-14,
.paso-16,
.paso-20,
.paso-21,
.paso-22,
.paso-28 {
  width: 550px;
}
/************************************************************/

/* ***********  Manejo de la pantalla LCD ***************** */
.main .LCD1 img {
  display: flex;
  width: 35%;
  float: right;
  margin: 1em 3em 1em 1em;
}
.main .LCD2 {
  display: block;
  width: auto;
}
.main .LCD2 .text {
  display: block;
  padding-left: 15px;
}
.main .LCD3 .LCD4 .CGROM img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 25%;
  margin-right: 10%;
}

.main .CGROM img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.8);
}

.main .LCD3 img {
  float: right;
  margin: 0 1em 1em 1em;
  width: 35%;
}

/************************************************************/

.main .text a {
  text-decoration: none;
  color: steelblue;
}
.main .text a:hover {
  opacity: 0.2;
}

.main img {
  display: block;
  margin-left: inherit;
}
.sidenav label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.main ol {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 20px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}
/* ********************************************************************************************* */

/***********************************************************************************************/
.luxbar {
  display: none;
}

/**********************************************************************************************/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
  /* .Symbol {
    visibility: visible;

  } */
  .sidenav {
    display: none;
  }
  .sidenav a {
    font-size: 18px;
  }
  .main {
    margin-top: 2vw;
    margin-left: 0;
  }
  .main .label {
    padding-top: 16px;
  }
  .main .proteus {
    margin-top: 58px;
  }
  .main h1 {
    font-size: 5.5vw;
  }
  .main h2 {
    padding-top: 8vw;
  }
  /* Posicion y ajuste de las imagenes en los dispositivos moviles */
  .paso {
    width: 90vw;
    position: relative;
    padding-left: 20px;
  }
  .paso-27,
  .paso-26 {
    width: 50vw;
  }
  .main .pass {
    padding: 0;
    margin: 0;
  }
  .main h1 {
    background-color: rgb(92, 146, 181);
  }
  /* ***********  Manejo de la pantalla LCD ***************** */
  .main .LCD1 img {
    width: 80vw;
    position: relative;
    padding-left: 20px;
    margin-right: 10vw;
  }
  .main .LCD3 img {
    width: 80vw;
    position: relative;
    padding-left: 20px;
    margin-right: 10vw;
  }
  .main .LCD3 .LCD4 .CGROM img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80vw;
    position: relative;
    padding-left: 20px;
    margin-right: 10vw;
  }
  /******************************************************************************************/
  .luxbar-fixed {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .luxbar-hamburger span,
  .luxbar-hamburger span::before,
  .luxbar-hamburger span::after {
    display: block;
    height: 2px;
    width: 26px;
    transition: 0.4s ease;
  }

  .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span {
    background-color: transparent;
  }
  .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::before,
  .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::after {
    margin-top: 0;
  }

  .luxbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 58px;
  }

  .luxbar-brand {
    font-size: 1.4em;
    padding: 6vw 1vw 6vw 2vw;
    font-family: "Montserrat", sans-serif;
  }

  .luxbar-menu {
    min-height: 58px;
    transition: 0.4s ease;
    width: 100%;
  }

  .luxbar-navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .luxbar-menu a,
  .luxbar-item a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  .luxbar-item {
    height: 58px;
    font-family: "Montserrat", sans-serif;
  }

  .luxbar-item a {
    padding: 18px 24px 18px 24px;
    display: block;
  }

  .luxbar-hamburger {
    padding: 18px 24px 18px 24px;
    position: relative;
    cursor: pointer;
  }

  .luxbar-hamburger span::before,
  .luxbar-hamburger span::after {
    content: "";
    position: absolute;
  }

  .luxbar-hamburger span::before {
    margin-top: -8px;
  }

  .luxbar-hamburger span::after {
    margin-top: 8px;
  }

  .luxbar-checkbox {
    display: none;
  }

  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    overflow: hidden;
    height: 58px;
  }

  .luxbar-checkbox:checked ~ .luxbar-menu {
    transition: height 0.6s ease;
    height: 100vh;
    overflow: auto;
  }
  /***********************************/
  .collapsible {
    background-color: #263238;
    width: 100%;
    font-size: 4.5vw;
  }
  .content {
    font-size: 4.2vw;
    color: #fff;
    background-color: #263238;
  }

  /***********************************/
  .luxbar-checkbox:checked
    + .luxbar-menu
    .luxbar-hamburger-doublespin
    span::before {
    transform: rotate(225deg);
  }
  .luxbar-checkbox:checked
    + .luxbar-menu
    .luxbar-hamburger-doublespin
    span::after {
    transform: rotate(-225deg);
  }
  .luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::before {
    transform: rotate(45deg);
  }
  .luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::after {
    transform: rotate(-45deg);
  }

  .luxbar-menu-material {
    background-color: /*#006064*/ #263238;
    color: #fff;
  }

  .luxbar-menu-material .active,
  .luxbar-menu-material .luxbar-item:hover {
    background-color: #00838f;
  }

  .luxbar-menu-material .luxbar-hamburger span,
  .luxbar-menu-material .luxbar-hamburger span::before,
  .luxbar-menu-material .luxbar-hamburger span::after {
    background-color: #fff;
  }

  /********************************************************************************************/
}

/******************************************************************************/

/*********************** FLoating button **************************************
*******************************************************************************/
.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}

.label-text {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  display: table-cell;
  text-align: middle;
  padding: 10px;
  border-radius: 10px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.75;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: steelblue;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 5px #999;
}

.my-float {
  margin-top: 22px;
  font-size: 18px;
}
.correo {
  font-family: "Montserrat", sans-serif;
}

a.float:hover + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}
a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}
/*************************** End of FLoating button *******************************/
